body {
  padding-top: 50px;
  background-color: rgb(1, 5, 117)
}

p {
    line-height: 1.5;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container h3 {
    font-size: 120%;
    line-height: 1.2;
}
.blurb {
    font-weight: normal;
    margin-top: -10px;
    background: white;
    color: #606060;
}

.item img {
    width: 100%;
}

.category-active { background: green; color: white;}

div.category:hover {
    background: green;
    color: white;
}
div.category {
    cursor: pointer;
    padding: 20px;
    font-family: Raleway, sans-serif;
    font-size: 90%;
}

div.carousel {
    background: white;
    margin-bottom: -10px;
    padding: 0;
}

img.committee {
    width: 150px;
}

div.owl-carousel img {
    height: 240px;
}
.main {
    background: white;
}
#posts li a {
    color: brown;
}
#posts li {
    font-weight: 300;
    list-style-type: none;
    font-size: 150%;
    margin-left: -15px;
}

div.page-header {
    background: white;
    margin-top: 0;
    margin-bottom: -2px;
}
div.page-header h1 {
    font-weight: 400;
    font-size: 300%;
    color: #444;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

div.info {
    padding: 5px;
    font-size: large;
    margin-bottom: 10px;
    margin-top: -8px;
    margin-left: -2px;
}
ul.gallery {
    margin: 0;
}

div.footer {
    margin-top: 5px;
    color: grey;
    font-family: Raleway, sans-serif;
    font-size: 80%
}

h5.location {
    font-weight: bold;
    color: #444;
}

div.thumbnail {
    border: none;
}

a.thumbnail {
    padding: 0;
    border: none;
}

h4 { font-size: 110%; margin-top: -2px;}
div.caption a {
    color: brown;
}

.subscribe {
    background: white;
    opacity: 0.9;
    font-size: large;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding-top: 10px;
    color: black; font-weight: bold;
    font-family: Raleway, sans-serif;
}

.subscribe a {
    color: black;
    text-decoration: underline;
}
ul.gallery li {
    display: inline;
    list-style-type: none;
    padding: 5px;
}
.post-title {
    margin-left: 5px;
}

a.email { margin-left: 5px; color: cyan; font-size: 90%}
@media (max-width: 640px) {
    h1 {
        font-size: 100%;
    }
    p {
        font-size: 100%;
    }
    h2 {
        font-size: 135%;
    }
    .info {
        font-size: small;
    }
    #posts li {
        font-size: 110%;
    }
    .info {
        font-size: 100%;
    }
}
