extends layout

block title
  title Oxford India Society - About
block body
  h1 About
  .row
    .col-sm-6.col-md-4(style='font-family:Raleway, sans-serif')
      != contents['about-blurb.md'].html
    .col-sm-6.col-md-8
      h3 The Committee for 2014
      - var people = _.chain(contents['people']._.pages).sortBy(function(item) {
      -   return item.metadata.order;
      - }).value()
      each p in people
        include partials/people
