extends layout2

.gridimage
  a(href='http://data.oxfordindiasociety.org.uk/photos/committee/Sneha.png')
    figure
      img(src='http://data.oxfordindiasociety.org.uk/photos/committee/Sneha.png', alt='')
      
.gridimage
  a(href='http://data.oxfordindiasociety.org.uk/photos/committee/Sachi.jpg')
    figure
      img(src='http://data.oxfordindiasociety.org.uk/photos/committee/Sachi.jpg', alt='')

.gridimage
  a(href='http://data.oxfordindiasociety.org.uk/photos/committee/Niyati.jpg')
    figure
      img(src='http://data.oxfordindiasociety.org.uk/photos/committee/Niyati.jpg', alt='')
