extends layout

block title
  title Oxford India Society - Committee
block body
  h1 Committee
  br
  .row
    .col-sm-6.col-md-12
      - var people = _.chain(contents['people']._.pages).sortBy(function(item) {
      -   return item.metadata.order;
      - }).value()
      each p in people
        include partials/people
