extends layout

block title
  title Oxford India Society - Committee
block body
  h1 Committee
  .row
    .col-sm-6.col-md-12
      include partials/people/sneha.md
      include partials/people/sachi.md
      include partials/people/niyati.md
  
