<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Oxford India Society - $title$</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
<script src="/js/jquery-1.11.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="/js/ois.js"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Oxford India Society</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="http://policyblog.oxfordindiasociety.org.uk">Policy Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="page-header container">
      <h1>oxford <span style="color:orange">i</span>n<span style="color:#abcdef">d</span>i<span style="color:lightgreen">a</span> society</h1>
    </div>
    <div class="carousel container">
    <div class="item"><img src="http://data.oxfordindiasociety.org.uk/photos/carousel/holi.jpg"></div>
    <div class="item"><img src="http://data.oxfordindiasociety.org.uk/photos/carousel/formal-dinner.jpg"></div>
    </div>

    <div class="container blurb">
      <h3>Established in 2003, the Oxford India Society (OIS) was formed to celebrate the diverse culture of India. Our activities are centred on promoting Indian culture (music, food, festivals) and contemporary intellectual thought through organising a range of talks, debates and seminars.</h3>
    </div>
    <div class="container subscribe">
    <a href="mailto:indian.society@studentclubs.ox.ac.uk?subject=subscribe">Subscribe to our newsletter</a> or visit our <a href="http://facebook.com/oxfordindiasociety">facebook page</a>.
    </div>

    <div class="container main">

        <h2>upcoming</h2>

          <div class="row upcoming">
  
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href="/fundraising-for-act-for-change">Fundraising for Act for Change, India</a></h3></a><h4>7 June, 2014</h4>
        <h5>Holywell Manor Cockpit, Manor Road, Oxford at 6pm</h5>
        <p>Oxford India Society is hosting a fundraiser for <a href="https://www.facebook.com/actforchangein">Act for Change India</a> in the form of a dinner get together. The Act for Change India is an initiative to spread mental health awareness in India through forum theatre.</p>
        <p><a href="/fundraising-for-act-for-change">Read more and sign up</a>! <b>Places are limited.</b></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href="https://www.facebook.com/events/1434567686799962">Panel Discussion on Judicial Activism</a></h3><h4>13 June, 2014</h4>
        <h5>Law Faculty on St. Cross Road, 4.30-6 pm</h5>
        <p>The eminent jurist and Supreme Court Advocate Mr. Soli Sorabjee is coming to Oxford to speak as a part of a panel discussion on Judicial Activism in India. Do come along to hear him speak- he has had a lot of varied experience in the field of human rights law and has been a part of many international organizations working in human rights, anti-corruption laws and the like.<br>Tea, coffee and biscuits will be provided.</p>
      </div>
    </div>
  </div>

        </div>

          <h2 id="events">events</h2>
          <ul class="nav nav-pills">
  <li class="active"><a href="#events" id="all-show">All</a></li>
  <li><a href="#events" id="social-show">Social</a></li>
  <li><a href="#events" id="cultural-show">Cultural</a></li>
  <li><a href="#events" id="fundraising-show">Fundraising</a></li>
  <li><a href="#events" id="seminar-show">Seminars</a></li>
    <li><a href="#events" id="sports-show">Sports</a></li>

  </ul>
<br>
    </div><!-- /.container -->

</body>
</html>
