extends layout

block append js
  script(src='/js/ois.js')
block main
  .page-header.container
    h1
      | oxford 
      span(style='color:orange') i
      | n
      span(style='color:#abcdef') d
      | i
      span(style='color:lightgreen') a
      |  society
  .carousel.container
    .item
      img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/holi.jpg')
    .item
      img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/formal-dinner.jpg')
  .container.blurb
    h3!= contents['blurb.md'].html
  .container.subscribe
    p
      a(href='http://register.oxfordindiasociety.org.uk/') Register for our newsletter
      |  or visit our 
      a(href='http://facebook.com/oxfordindiasociety') Facebook page
  .container.main
    h2 upcoming
    .row
      .col-sm-8.col-md-8
        .row
        - var upcoming = _.chain(contents['upcoming']._.pages).value()
        each event in upcoming
          include partials/upcoming
      .col-sm-4.col-md-4
         <a class="twitter-timeline" href="https://twitter.com/oxfordindiasoc" data-widget-id="528217189933801472">Tweets by @oxfordindiasoc</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    h3 Letter from the President
    .row
      .col-sm-12
        p
          img.committee(src='http://data.oxfordindiasociety.org.uk/' + contents['letter-from-the-president.md'].metadata.image)
        != contents['letter-from-the-president.md'].html

