extends layout

block append js
  script(src='/js/ois.js')
block main
  .page-header.container
    h1
      | oxford 
      span(style='color:orange') i
      | n
      span(style='color:#abcdef') d
      | i
      span(style='color:lightgreen') a
      |  society
  .carousel.container
    .item
      img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/holi.jpg')
    .item
      img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/formal-dinner.jpg')
   .container.subscribe
    p
      a(href='https://goo.gl/forms/pQ888bxAxFtZ8luu1' target='_blank') Join Us
      |  or visit our 
      a(href='http://facebook.com/oxfordindiasociety') Facebook page    
  .container.blurb
    h3!= contents['front-page-intro.md'].html
  
