extends layout

block append js
  script(src='/js/ois.js')
block append main
    .carousel.container
     .item
       img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/holi.jpg')
     .item
       img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/formal-dinner.jpg')
    .container.subscribe
     p
       a(href='https://goo.gl/forms/pQ888bxAxFtZ8luu1' target='_blank') Join Us
       |  or visit our 
       a(href='http://facebook.com/oxfordindiasociety') Facebook page
       block body
  
