extends layout

block append js
  script(src='/js/ois.js')
block main
  .page-header.container
    h1
      | Oxford 
      span(style='color:#f77402') I
      | n
      span(style='color:#010372') d
      | i
      span(style='color:#016d21') a
      |  Society
   br
   br
   br
   | .carousel.container
    .item
      img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/holi.jpg')
    .item
      img(src='http://data.oxfordindiasociety.org.uk/photos/carousel/formal-dinner.jpg')
   .container.subscribe
    p
      a(href='https://goo.gl/forms/pQ888bxAxFtZ8luu1' target='_blank') Join Us
      |  or visit our 
      a(href='http://facebook.com/oxfordindiasociety') Facebook page
  
