extends layout

block title
  title Oxford India Society - About
block body
  h1 Committee
  .row
    .col-sm-6.col-md-12(style='font-family:Raleway, sans-serif')
      != contents['welcome-from-the-president.md'].html
  .row
    .col-sm-6.col-md-12
      h3 The Committee for 2015
    .col-md-4
      - var people = _.chain(contents['people']._.pages).sortBy(function(item) {
      -   return item.metadata.order;
      - }).value()
      each p in people
        include partials/folks
